[submodule "libs/blah"]
	path = libs/blah
	url = https://github.com/noelfb/blah
[submodule "libs/sdl"]
	path = libs/sdl
	url = https://github.com/spurious/SDL-mirror
[submodule "libs/tmxlite"]
	path = libs/tmxlite
	url = https://github.com/fallahn/tmxlite.git
